:root {
    /* Colores */
    --bitcoin-orange:#F7931A ;
    --soft-orange:#FFE9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue:#E7F5FF;
    --warm-black: #201E1C;
    --black: #282623;
    --grey:#BABABA;
    --off-white:#FAF8F7;
    --just-white: #FFFFFF;
}

*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

/* HEADER */
header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}
header img {
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self:center ;
}

.header--tittle-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    text-align: center;
    align-self: center;
}

.header--tittle-container h1 {
font-size: 2.4rem;
font-weight: bold;
line-height: 2.6rem;
color: var(--just-white);
}

.header--tittle-container p {
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}

.header--tittle-container .header--button {
    position: absolute;
    left:calc(50% - 118px);
    top: 270px;
    display:block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--just-white);
    
    /* Sombras */
    box-shadow: 0px 4px 8px rgba(89, 73,30,0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);

}

.header--button span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url('./assets/icons/down-arrow.svg');
}

/* MAIN */

main {
    width: 100%;
    height: auto;
    background-color:var(--off-white);
}

.main-exchange-container {
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}

.main-exchange-container--tittle {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin:0 auto;
}

.main-exchange-container .backgroundImg {
    width: 200px;
    height: 200px;
    margin:0 auto ;
    margin-bottom: 50px;
    background-image: url(./assets/img/Bitcoin.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-exchange-container h2 {
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: (--black);
}

.main-exchange-container p {
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500; 
    line-height: 1.6rem;
    color: #757575;

}

/* Estilo para la tabla monedas y comisiones */

.main-currency-table, 
.main-commission-table {
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;

}

.main-currency-table .currency-table--tittle {
margin-bottom:15px;
font-size: 1.8rem;
font-weight: bold;
line-height: 2.3rem;
color: var(--bitcoin-orange);
}

.main-commission-table .commission-table--tittle {
    margin-bottom:15px;
font-size: 1.8rem;
font-weight: bold;
line-height: 2.3rem;
color:var(--secondary-blue)

}

.currency-table--container,
.commission-table--container {
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}

.currency-table--container table ,
.commission-table--container table {
    width: 100%;
    height: 100%;
}

.currency-table--container td ,
.commission-table--container td {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);
}



.currency-table--container .table__top-left ,
.commission-table--container .table__top-left {  /* Esquina de la tabla superior izquierda */
    border-radius: 15px 0 0 0;

}

.currency-table--container .table__top-right ,
.commission-table--container .table__top-right { /* Esquina de la tabla superior derecha */
    border-radius: 0 15px 0 0;
}

.currency-table--container .table__bottom-left ,
.commission-table--container .table__bottom-left { /* ESquina de la tabla inferior izquierda */
    border-radius: 0 0 0 15px;
}

.currency-table--container .table__bottom-right ,
.commission-table--container .table__bottom-right { /* Esquina de la tabla inferior derecha
     */
    border-radius: 0 0 15px 0;
}

.currency-table--container .table__right {
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575;
}

.currency-table--container .down , .down-2 , .down-3{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url(./assets/icons/trending-down.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-currency-table .up {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url(./assets/icons/trending-up.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no repeat;

}

/* Pie de tablas */

.currency-table--date {
    width: 190px;
    height: 40px;
    margin: 0 auto;
    margin-top:5px;
    padding: 8px;
    background-color: var(--soft-orange);
    border-radius: 8px;

}


.commission-table--date {
    width: 190px;
    height: 40px;
    margin: 0 auto;
    margin-top:5px;
    padding: 8px;
    background-color: var(--soft-blue);
    border-radius: 8px;

}

.currency-table--date p ,
.commission-table--date p {

    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.5rem;
    color: var(--warm-black);

}
/* Seccion de beficios */

.main-product-detail {
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    background-color:var(--warm-black);
}

.product-detail--batata-logo {
    position:absolute;
    width: 40px;
    height: 25px;
    top: -10px;
    left: calc(50% - 20px);
    background-image: url(./assets/icons/batata.svg);
}

.product-detail--tittle {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}

.product-detail--tittle h2 {
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color:var(--just-white)
}

.product-detail--tittle p {
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height:1.8rem;
    color: #808080;
}

.product-detail-card {
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    height: 150px;
    margin: 15px auto;
    padding: 15px;
    background-color: var(--black);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.16);   
}
.product-detail-card .clock ,
.dolar,
.eye ,
.ready {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url(./assets/icons/clock.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.product-detail-card .dolar {
    background-image: url(./assets/icons/dollar-sign.svg);
}

.product-detail-card .eye {
    background-image: url(./assets/icons/eye.svg);
}

.product-detail-card .ready{
    background-image: url(./assets/icons/check-circle.svg);
}
.product--card-tittle {
margin-bottom: 15px;
font-size: 1.8rem;
font-weight: bold;
line-height: 1.8rem;
color:var(--just-white)
}

.product--card-body {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color:#808080 ;
}


